{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="title" id="regMember-title">
        <p class="regMember-p">REGISTER MEMBER</p>
        <div class="line" id="regMember-line"></div>
    </div>
    <div class="regMember-form">
        <div class="form-group">
            <form id="form" method="POST" action="{% url 'register_member:saveMember' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col" id="regMember-col1"> {{ form.firstName }}</div>
                    <div class="col" id="regMember-col2"> {{ form.lastName }} </div>
                </div>
                <div class="fieldWrapper">
                    {% if form.birth.errors %}
                        <p class="regMember-error">{{ form.birth.errors.as_text }}</p>
                    {% endif %}
                    {{ form.birth }}
                    {% if form.email.errors %}
                        <p class="regMember-error">{{ form.email.errors.as_text }}</p>
                    {% endif %}
                    {{ form.email }}
                    {{ form.address }}
                    {% if form.username.errors %}
                        <p class="regMember-error">{{ form.username.errors.as_text }}</p>
                    {% endif %}
                    {{ form.username }}
                    {% if form.password.errors %}
                        <p class="regMember-error">{{ form.password.errors.as_text }}</p>
                    {% endif %}
                    {{ form.password }}
                    {{ form.passwordAgain }}
                </div>
                <button type="submit" class="btn btn-danger-2">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
