{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="title" id="regSuccess-title">
        <p class="regSuccess-p">Thank you for registering!</p>
        <div class="line" id="regSuccess-line"></div>
    </div>
    <div class="regSuccess-email">
        <p class="regSuccess-email-p">Please check your email and click the activation link to finish your registration</p>
    </div>
</div>

{% endblock content %}
