{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="about-body">
    <div class="event-title align-items-center">
        <h2>About Us</h2>
        <div class="line abouttitle-line"></div>
    </div>
</div>
<div class="mt-5 d-flex align-items-center justify-content-center">
    <div class="about-field-title">
        <h3><strong>What do you think?</strong></h3>
    </div>
</div>
<div class="about-field d-flex align-items-center justify-content-center">
    <div id="testi-field" class="d-flex">
            {% csrf_token %}
        <input type="text" placeholder="About Us (Testimonials)" id="testimonials-field"> <input type="submit" id="btn-submit" onclick="postTesti(event)" value="SEND">
    </div>
</div>
<div class="container-fluid no-padding" id="bio-studentunion">
    <div class="d-flex align-items-center justify-content-center" id="bio-img">
        <img class="img-responsive" width="133" src="{% static 'img/icon-footer.png' %}">
    </div>
    <div class="text-center align-items-center justify-content-center" id="bio-abouttextmargin">
        <strong>
            <p>Student Union is a student's event platform for live experiences that allows anyone to create, share, find <br>
            and attend events that fuel their passions and enrich their lives. From music festivals, marathons,<br>
            conferences, community rallies, and fundraisers, to gaming competitions and air guitar contests. Our<br>
            mission is to connecting every events together simply and easily!</p>
        </strong>
    </div>
</div>
<div class="container-fluid no-padding" id="bio-studentunion2">
    <div class="row">
        <div class="col-md-9">
            <div class="testi-image">
                <img class="img-responsive" src="{% static 'img/AboutUs-photo.png' %}">
            </div>
        </div>
        <div class="col-md-3" id="contain-testi">
            <div class="text-center testimony-title">
                <h2>TESTIMONIALS</h2>
            </div>
            <div id="testimony-wrapper">
                {% for x in testimony %}
                    <div>
                        <p class="testimonials-style text-center justify-content-center">
                            <strong>
                                {{ x.testimony }}
                            </strong>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid no-padding" id="bio-studentunion">
    <div class="d-flex align-items-center justify-content-center" id="bio-img">
        <img class="img-responsive" width="133" src="{% static 'img/icon-footer.png' %}">
    </div>
    <div class="text-center align-items-center justify-content-center" id="bio-abouttextmargin">
        <strong>
            <p>Student Union is a student's event platform for live experiences that allows anyone to create, share, find <br>
            and attend events that fuel their passions and enrich their lives. From music festivals, marathons,<br>
            conferences, community rallies, and fundraisers, to gaming competitions and air guitar contests. Our<br>
            mission is to connecting every events together simply and easily!</p>
        </strong>
    </div>
</div>
<div class="container-fluid no-padding" id="bio-studentunion2">
    <div class="row">
        <div class="col-md-9">
            <div class="testi-image">
                <img class="img-responsive" src="{% static 'img/AboutUs-photo.png' %}">
            </div>
        </div>
        <div class="col-md-3" id="contain-testi">
            <div class="text-center testimony-title">
                <h2>TESTIMONIALS</h2>
            </div>
            <div id="testimony-wrapper">
                {% for x in testimony %}
                    <div>
                        <p class="testimonials-style text-center justify-content-center">
                            <strong>
                                {{ x.testimony }}
                            </strong>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
{% block script %}<script type="text/javascript" src="{% static 'js/testimonialsscripts.js' %}"></script> {% endblock %}