.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    text-align: center;
}

.title#newsPage{
    display: inherit;
    margin: 7% 0 0 0;
    text-align: center;
}

.title h2 {
    z-index: 99;
}

h2 {
    font-weight: 900;
}
.line {
    z-index: 1;
    margin-top: 8px; 
    background-color: #B22C2C;
    width: 8%;
    height: 10px;
    display: inline-block;
    position: absolute;
}

.title h1{
    color: #B22C2C;
}

.wrapper-form{
    margin: 2%;
    padding: 0 20% 0 20%;
}

.nav-link {
    font-size: small;
}

nav {
    padding: 8px 96px !important;
}

li {
    padding:0 12px !important;
}

.btn {
    background-color: #B22C2C;
    border-radius:30px;
    font-size:12px;
    color:white;
}

.close{
    margin: 0px !important;
}

a {
    color: #B22C2C;
}
.btn a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none; 
}

/* article and newspage */
.article-paragraph{
    margin: 0 7% 5% 7%;
    text-align: justify;
    
}

.img-fluid#img-news-list{
    width: 300px;
    height: auto;
    /* min-height: 200px; */
}

.flex-box.news_image{
    margin: 1% 7% 2% 7%;
}


.title#article_page {
    margin: 7% 0 0 7%;
    text-align: left;
    size: 200%;
    display: block;
    align-items: flex-end;
    justify-content: left;

}

.wrapper-news{
    margin: 5% 0 5% 0;
}
.news-paragraph{
    text-align: justify;
}

@media screen and (max-width : 960px){
    .col-3.align-self-center{
        display: none;
    }

    .container-fluid{
        margin: 15% 0 0 0;
    }
}

/* landing-page */

.P-20 {font-size: 20px;}

.P-30 {font-size: 30px;}

body {
    background:url("../img/background-1.png");
    background-repeat: repeat;
    background-size: 36%;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
    font-size: small !important;
}

h6{
    font-size: small;
}

#label-email::placeholder{
    padding: 0px 10px;
}

#label-email{
    border-color: #646464;
    border-width: 0.5px;
}

#email {
    padding: 0px 10px;
}

.event-list-line {width: 168px!important;}

#footer{
    background: #F2F2F2;
    height: auto;
    padding: 4rem 93px;
}
#profile-pic{
    width: 240px;
    height: 240px;
    margin: 32px;
}

#footer-mail{ 
    size: 18%;
}
.shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
 }
#profile-name{
    text-align: center;
    margin:32px;
    text-transform:uppercase;
}
#modal-icon{
    width: 60%;
    padding: 16px;
}

#event-count{
    background: #B22C2C;
    width: 440px;
    height: 144px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    color:white;
    margin-bottom : 60px;

}

.rectangle-event p {max-width: 308px;}

.nav-link {padding:8px 32px;}

.event-landing {margin:60px;}

.event h4 {max-width: 308px;}

.carousel-caption {bottom: 160px;}

.carousel-caption h3 {font-size: 42px;}

.carousel-caption img {
    margin: 20px;
    width : 100px;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.scrolling-wrapper:hover {overflow-x: auto;}

.event-title {display: flex;}

.event-title h2 {z-index: 99;}

.recommended-line {width: 370px!important;}

.event-title-text, .event-category-col {margin-left: 2%;}

.event {padding:24px;}

.event p {margin-bottom : 12px;}

.event-top {height: 93%}

.button-event {
    height: 7%;
    display:flex;
    justify-content:space-between
}

#button-see-event {
	display:flex;
	justify-content:center;
	padding:20px;
}

.btn-seemore {
    background-color:white;
    border-radius: 30px;
    border-color: #B22C2C;
    border-width:thin;
    color: #B22C2C;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-seemore:hover {cursor: pointer;}

.event-category {margin: 100px 0}

.category-line {width: 160px!important;}

.category-img {
    width: 500px;
    height: 280px;
    border-radius: 10px;
    filter: brightness(70%);
}

.category-text {
    position: absolute;
    color: white;
    font-size: 30px;
    margin: -70px 0 0 230px;
}

.popular-line {width: 270px!important;}

.event h4 {margin-top:12px;}

.event_image {
    display:flex;
    justify-content:center;
}

.container-fluid {margin-top:84px;}

.event-desc {
    text-align: justify;
    margin: 52px;
}

.peserta {
	padding:20px;
	text-align:center;
}

@media screen and (max-width : 496px){
	.event {
		margin:0px;
		padding:12px;
	}

	.event-desc {
		margin:12px;
	}

    .recommended-line {
        width: 250px!important;
        margin-top: 27px;
    }

    .category-img {
        width: 270px;
        height: 150px;
    }

    .category-text {
        font-size: 20px;
        margin: -45px 0 0 100px;
    }
}

@media screen and (max-width : 417px){
    .popular-line {
        width: 250px!important;
        margin-top: 27px;
    }
}

@media screen and (max-width : 376px){
    .event-landing {
        margin: 30px;
    }
}

/* Register Member */
#regMember-title {
    margin-top: 100px;
}

.regMember-p {
    font-size: 30px;
    font-weight: 600;
    margin: 0; padding: 0;
    z-index: 999;
}

#regMember-line {
    width: 20%;
    height: 10px;
    margin-top: 10px;
}

.regMember-form {
    padding: 1% 25% 1% 25%;
}

.form-control {
    display: inline-block;
    font-size: 1vw;
    height: 3vw;
    padding: 1% 1% 1% 1.5vw;
    margin-top: 2%;
    border-radius: 20px;
}

.btn-danger-2 {
    float: right;
    margin-top: 3%;
    font-size: 1vw;
    padding: 1% 2% 1% 2%;
    color: white;
}

.regMember-error {
    background-color: white;
    font-size: 16px;
    color: red;
    margin: 10px 0 0 0; 
    padding: 0;
}

#regSuccess-title {
    margin-top: 200px;
}

.regSuccess-p {
    font-size: 47px;
    font-weight: 600;
    margin: 0; padding: 0;
    z-index: 999;
}

#regSuccess-line {
    width: 40%;
    height: 10px;
    margin-top: 18px;
}

.regSuccess-email-p {
    margin-top: 5%;
    font-size: 2vw;
    margin: 0; padding: 0;
}

/* Register Event */
.validate{
    margin-top: 7em;
}
.form-event-input{
    display: inline-block;
    font-size: 0.8em;
    padding: 1em;
    padding-left: 1em;
    border-radius: 30px;
    border: 1px solid gray;
    margin-bottom: 1em;
}
.validate2{
    float: right;
    margin-top: 3em;
}
.formbox{
    padding-left: 20%;
    padding-right: 20%;
}

.regSuccess-email {
    text-align: center;
    padding: 3% 25% 3% 25%;
    font-size: 30px;
}

#event {
    flex: 1;
}

#explore {
    flex: 1;
}

#stay-connected {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#email-txt input {
    border-radius: 2rem ;
    padding: 0.5rem;
}

#email-txt #label-email {
    width: 26rem;
    margin-top:2px;
}

#email-txt #btn-submit {
    background-color: #B22C2C;
    color: white;
    position: absolute;
    margin-left: 278px;
    width: 9rem;
}

@media screen and (max-width:768px) {
    #event-count{
        width: 320px;
        height: 120px;
    }

    #profile-name{
        font-size: 24px;
    }

    #profile-pic{
        width:200px;
        height:200px;
    }
    .carousel-caption h3 {
        font-size: 32px;
    }

    .line {
        width: 15%;
    }

    nav {
        padding: 8px 44px !important;
    }

    .regMember-p {
        font-size: 18px;
    }

    #regMember-line {
        width: 50%;
        height: 6px;
        margin-top: 6px;
    }

    .regMember-form {
        padding: 1px 25px 1px 25px;
    }

    .form-control {
        font-size: 10px;
        height: 25px;
        margin-top: 18px;
    }

    #regMember-col1 {
        padding-right: 7px;
    }
    
    #regMember-col2 {
        padding-left: 7px;
    }

    .btn-danger-2 {
        font-size: 10px;
        margin-top: 5%;
    }

    .regMember-error {
        font-size: 8px;
        margin: 6px 0 0 0;
    }

    #regSuccess-title {
        margin-top: 130px;
    }

    .regSuccess-p {
        font-size: 25px;
    }

    #regSuccess-line {
        width: 90%;
        height: 8px;
        margin-top: 9px;
    }

    .regSuccess-email {
        padding: 10px 35px 10px 35px;
        font-size: 18px;
    }

    .col-7.align-self-center{
        margin: auto;
    }

    #stay-connected {
        display: none;
    }


}
.google-btn{
    display: flex;
}

.g-signin2{
    padding: 0 10vh;
}

.about-body{
margin-top:10em;
margin-left:7em;
}

#testi-field input {
    border-radius: 2rem ;
    padding: 0.5rem;
}

#testi-field #testimonials-field {
    width: 26rem;
    margin-top:2px;
}

#testi-field #btn-submit {
    background-color: #B22C2C;
    color: white;
    position: absolute;
    margin-left: 278px;
    width: 9rem;
}
.abouttitle-line {width: 138px!important;}
.about-field-title {
    padding-right: 12em;
}
.about-field{
    margin-bottom: 14em;
}
.no-padding {
    padding:0;
}
#contain-testi{
    background: #B22C2C;
}
#bio-studentunion{
    margin-top: 5em;
    background: #F2F2F2;
}
#bio-studentunion2{
    margin-top: -10px
}
#bio-abouttextmargin{
    padding-bottom: 3em;
    padding-top: 1em;
}
#bio-img{
    padding-bottom: 3em;
    padding-top: 4em;
}
.testi-image img{
    width:1180px;
    height:1180px;
    max-height: 1180px;
}
.testimony-title{
    padding-top: 5em;
    padding-bottom: 5em;
    color: white;
}
.testimonials-style{
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
    color: white;
}
#testimony-wrapper{
    height: 1000px;
    overflow-y: scroll;
}
@media screen and (max-width:768px) {
    .testi-image img{
        width:100%;
        height:100%;
        max-height: 100%;
    }
    .about-field-title {
        padding-right: 0em;
    }
    #testi-field input {
        border-radius: 2rem ;
        padding: 0.5rem;
    }
    #testi-field #testimonials-field {
        width: 20rem;
        margin-top:2px;
    }
    #testi-field #btn-submit {
        background-color: #B22C2C;
        color: white;
        position: absolute;
        margin-left: 180px;
        width: 9rem;
    }
    .event-title {
        padding-left: 2em;
    }
    .P-20 {
        margin-left: 24px;
        font-size:16px;
    }
    #event-count {
        margin-bottom : 60px;
    }
}