{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active slide">
            <img src="{% static 'img/CAROUSEL.png' %}" width=1486>
            <div class="carousel-caption">
                <h3>Kamu kesulitan mencari event? <br> Telusuri <strong> Student Union </strong> sekarang!</h3>
                <img src="{% static 'img/icon-background.png' %}">
            </div>
        </div>
    </div>
</div>
<div class="event-landing">
    <div>
        <div class="event-title-text">
            <div class="event-title align-items-center">
                <h2>RECOMMENDED EVENTS</h2>
                <div class="line recommended-line"></div>
            </div>
            <p class="P-20 p-0">We have filtered the events that's probably right for you!</p>
        </div>
        <div class="rectangle-event scrolling-wrapper">
            {% for ev in event_attr %}
            <div class="event text-justify">
                <div class="event-top">
                    <div class="text-center">
                        <img src="{{ ev.image_url }}">
                    </div>
                    <h4 class="font-weight-bold">{{ ev.title }}</h4>
                    <p class="font-weight-bold"> {{ ev.description | truncatewords:25}} </p>
                    <p class="font-weight-bold"> Tanggal : {{ ev.date }} </p>
                    <p class="font-weight-bold"> Tempat : {{ ev.place }} </p>
                </div>
                <div class="button-event">
                    <button class="btn btn-join nav-link" event-id={{ev.id}} id="event-{{ev.id}}"> JOIN </button>
                    <a href="/{{ev.id}}/{{ev.title|slugify}}/"> <button class="btn-seemore nav-link"> SEE MORE </button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="event-category">
        <div class="event-title-text">
            <div class="event-title align-items-center">
                <h2>CATEGORY</h2>
                <div class="line category-line"></div>
            </div>
            <p class="P-20 p-0">Here are the most searched categories by our users</p>
        </div>
        <div class="row event-categories">
            <div class="col event-category-col p-3">
                <img src="https://www.iod.com/portals/0/Images/Membership/Student%20Membership/Student-member-events-networking-opportunities-header.jpg?ver=2016-05-19-110327-160"
                    class="category-img">
                <div class="category-text font-weight-bold">STUDENT EVENT</div>
            </div>
            <div class="col event-category-col p-3">
                <img src="https://i.axs.com/2017/05/31581-image_5908bde383b97.jpg" class="category-img">
                <div class="category-text font-weight-bold">MUSIC FESTIVAL</div>
            </div>
        </div>
    </div>
    <div>
        <div class="event-title-text">
            <div class="event-title align-items-center">
                <h2>POPULAR EVENTS</h2>
                <div class="line popular-line"></div>
            </div>
            <p class="P-20 p-0">Here are the most popular events by our users</p>
        </div>
        <div class="rectangle-event scrolling-wrapper">
            {% for ev in event_attr %}
            {% if ev.popular == "True" %}
            <div class="event text-justify">
                <div class="event-top">
                    <div class="text-center">
                        <img src="{{ ev.image_url }}">
                    </div>
                    <h4 class="font-weight-bold">{{ ev.title }}</h4>
                    <p class="font-weight-bold"> {{ ev.description | truncatewords:25}} </p>
                    <p class="font-weight-bold"> Tanggal : {{ ev.date }} </p>
                    <p class="font-weight-bold"> Tempat : {{ ev.place }} </p>
                </div>
                <div class="button-event">
                    <button class="btn btn-join nav-link" id="{{ev.id}}/{{ev.title|slugify}}"> JOIN </button>
                    <a href="/{{ev.id}}/{{ev.title|slugify}}/"> <button class="btn-seemore nav-link"> SEE MORE </button>
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="templateModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal">
        <div class="modal-content">
            <div class="modal-header">
                <p class="event-modal-title P-30 text-center"></p>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body P-20 text-center">
                <p class="event-modal-body-text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn event-modal-footer" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loginRequirementModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal">
        <div class="modal-content">
            <div class="modal-header">
                <p class="event-modal-title P-30 text-center"> Login Requirement </p>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body P-20 text-center">
                <p class="event-modal-body-text">You are required to login to join events!</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="loginBtn" class="btn event-modal-footer">Log in</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/event.js' %}" type="text/javascript"></script>{% endblock %}