{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid row">
    <div class="col-md-8 col-xs-12">
        <div class="title">
            <h2><b>{{event.title}}</b></h2>
        </div>
        <div class="event_image">
            <img class="event-img" src="{{event.image_url}}">
        </div>
        <div class="event-desc">
            {{event.description|escape|linebreaksbr}}
            <br>
            <br>
        </div>
    </div>
    <div class="col-md-3 col-xs-12 peserta">
        <div class="list-peserta">
            <h4> <b>LIST DAFTAR PESERTA</b> </h4>
            {% for member in members %}
            <label>{{member.user.get_full_name}}</label><br>
            {%endfor%}
            <!-- {% for nonmember in nonmembers%}
            <label>{{nonmember.username}}</label><br>
            {%endfor%} -->
        </div>
    </div>
</div>
{% endblock content %}