{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<br>
<br>
<br>
<div class="event-landing">
    <h2 id="profile-name">{{ user.first_name }} {{ user.last_name}}</h2>
    <img src="{{ profile }}" id="profile-pic" class="rounded-circle mx-auto d-block shadow">
    <div id="event-count" class="mx-auto d-flex align-items-center justify-content-between">
        <div class="flex-grow-1">
            <h3 id="counter-register" align='center'></h3>
            <h6 align='center'>Joined</h6>
        </div>
        <div class="flex-grow-1">
            <h3 align='center'>0</h3>
            <h6 align='center'>Attended</h6>
        </div>
        <div class="flex-grow-1">
            <h3 align='center'>0</h3>
            <h6 align='center'>Canceled</h6>
        </div>
    </div>

    <div class="event-title-text">
        {% csrf_token %}
        <div class="event-title align-items-center">
            <h2>EVENT LIST</h2>
            <div class="line event-list-line"></div>
        </div>
        <p class="P-20">Don’t forget to come to your next event!</p>
        <div id="event" class="rectangle-event scrolling-wrapper">
        </div>
    </div>
</div>


{% else %}
<p>Please Login</p>
<a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
{% endif %}

{% endblock content %}
{% block script %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}