{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if news_list %}
{% for news in news_list %}

<div class="container-fluid" id="news_article">
    <div class="title" id="article_page">
        <h1 style="font-size:4vw;">{{news.title}}</h1>
        <h2 style="font-size:2vw;">{{news.date | date}}</h2>
    </div>
    <div class="flex-box news_image">
        <img class="img-fluid" src="{{news.image_url}}">
    </div>
    <div class="article-paragraph">
        {{ news.content|escape|linebreaksbr}}
        <br>
        <br>
        <b>{{news.writer}}</b>
    </div>
</div>

{%endfor%}
{%else%}
<div class="container-fluid">
    <div class="title" id="homePage">
        <h1>404 Error</h1>
        <h2>{{ request.path}} doesn't exist</h2>
    </div>
</div>
{%endif%}
{% endblock content %}