{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="title" id="newsPage">
        <h1>NEWS</h1>
        <hr>
    </div>
    {% for news in newslist %}
    <div class="wrapper-news">
        <div class="row justify-content-md-center">
            <div class="col-3 align-self-center">
                <img class="img-fluid" id="img-news-list" src="{{news.image_url}}">
            </div>
            <div class="col-7 align-self-center ">
                <h1>{{news.title}}</h1>
                <label>{{ news.date }}</label>
                <p class="news-paragraph">
                   {{news.content | truncatewords:100}}
                </p>
                <a class="btn btn-danger" href="/news/{{news.id}}/{{news.title|slugify}}/">Read More..</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}