.title {
    margin: 1%;
    text-align: center;
    size: 200%;
}

.title h1{
    color: rgb(28, 25, 214);
}

.wrapper-form{
    margin: 2%;
    padding: 0 20% 0 20%;
}

.wrapper-news{
    text-align: center;
}

.news-paragraph{
    text-align: justify;
}