{% load staticfiles %}

<div id="footer" class="d-flex align-items-start justify-content-between flex-wrap">
    <div id="event" class="d-flex flex-column">
        <img width="133" src="{% static 'img/icon-footer.png' %}" id="footer-icon">
        <h6><br>We create possibilities for <br> the connected events </h6>
        <h6><br><strong>keep it simple & easy!</strong></h6>
    </div>
    <div id="explore" class="d-flex justify-content-center flex-column">
        <h5><strong>EXPLORE</strong> EVENTS</h5>
        <a href="#">Recommended Events</a>
        <a href="#">Popular Events</a>
        <a href="#">Events Near You!</a>
        <br>
        <h5><strong>CONTACT</strong> US</h5>
        <div class="d-flex justify-content-start align-items-center">
            <img width=20 height=16 src="{% static 'img/mail.png' %}" id="footer-mail">
            <a href="mailto:student@union.com" id="email">student@union.com</a>
        </div>
    </div>
    <div id="stay-connected">
        <h5><strong>STAY</strong> CONNECTED</h5>
        <h6>Subscribe to our Email Mailing Listand receive the most upcoming events, information on
            ticket sales,reminders for your next events, ticket deals, news, and more. </h6>
        <br>
        <div id="email-txt" class="d-flex">
            <input id="label-email" type="email" placeholder="Enter email address">
            <input id="btn-submit" type="button" value="SUBSCRIBE">
        </div>
    </div>
</div>