{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class="title" id="homePage">
        <h1>FASILKOM STUDENT UNION</h1>
        <h2>coming soon..</h2>
        <!-- Mandatory hello world -->
    </div>
</div>
{% endblock content %}  