{% load staticfiles %}
<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="ModalLoginTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img id="modal-icon" src="{% static 'img/icon-modals.png' %}" class="mx-auto d-block">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="google-btn mx-auto d-block">
        <a class="g-signin2" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
          <img src="{% static 'img/btn_google.png' %}" width="50%" class="mx-auto d-block">
        </a>
      </div>
      <div class="ModalLogin-footer">
        <!-- ini harusnya tempat footer -->
      </div>
    </div>
  </div>
</div>