{% load staticfiles %}

<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{% url 'event_page' %}">

        <img src="{% static 'img/icon.png' %}" width="100" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'event_page' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'news_page' %}">NEWS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about/">ABOUT US</a>
            </li>
        </ul>

        <div class="my-2 my-lg-0">
            <!-- <a class="btn btn-danger my-2 my-sm-0" href="\..\registerMember">Login</a> -->
            {% if user.is_authenticated %}
            <!-- <a href="{% url 'profile:profilePage' %}">Hello, {{ user.username }}</a> -->
            <div class="nav-item dropdown" style="text-align:center">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {% if user.first_name %}
                    Hello, {{ user.first_name }}
                    {% else %}
                    Hello, {{user.username}}
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="text-align:center">
                    <a class="dropdown-item" href="{% url 'profile:profilePage' %}">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="color:#B22C2C" href="{% url 'profile:logout'%}">Logout</a>
                </div>
            </div>
            {% else %}
            <button type="button" class="btn btn-danger my-2 my-sm-0" data-toggle="modal" data-target="#ModalLogin">
                Login
            </button>
            {% endif %}
        </div>

    </div>
</nav>