.title {
    margin: 1%;
    text-align: center;
    size: 200%;
}

.title#article_page {
    margin: 7% 0 0 7%;
    text-align: left;
    size: 200%;
}

.title h1{
    color: #B22C2C;
}

.wrapper-form{
    margin: 2%;
    padding: 0 20% 0 20%;
}

.wrapper-news{
    margin: 5% 0 5% 0;
}
.news-paragraph{
    text-align: justify;
}

.nav-link {
    font-size: small;
}

/* #collapsibleNavbar{
    display:flex;
    justify-content:space-between;
} */

nav {
    padding: 8px 96px !important;
}

li {
    padding:0 12px !important;
}

.btn {
    background-color: #B22C2C;
    border-radius:30px;
    color:white;
    font-size:12px;
}

.article-paragraph{
    margin: 0 7% 5% 7%;
    text-align: justify;
}

.flex-box.news_image{
    margin: 1% 7% 2% 7%;
}

.col-3.align-self-center img{
    
    height: 100%;
}