{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="validate">
    <div class="title" id="regMember-title">
            <p class="regMember-p">REGISTER YOUR DATA</p>
    <div class="line" id="regMember-line"></div>
    </div>
    <div class="title">
        <p class="regMember-p">{{event.title}}</p>
    </div>
    <section class="container formbox">
            <form method="POST" class="" action="">
                    {% csrf_token %}
                    {{ form_nonMember.email }}
                    {{ form_nonMember.username }}
                    {{ form_nonMember.password }}
            <input type="submit" class="btn btn-danger validate2" data-toggle="modal" data-target="#launch1" value="VALIDATE" />
            </form>
    </section>
</div>

{% endblock content %}