{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="validate">
    <div class="title" id="regMember-title">
            <p class="regMember-p">REGISTER EVENT <br> {{event.title}}</p>
    <div class="line" id="regMember-line"></div>
    </div>
    <section class="container formbox">
            <form method="POST" class="" action="">
                    {% csrf_token %}
                    {{ form_email_validation.email }}
                <input type="submit" class="btn btn-danger" data-toggle="modal" data-target="#launch1" value="VALIDATE">
            </form>
    </section>
</div>

{% endblock content %}